{% extends "base.html" %}
{% block content %}
  <form action="{% if Edit %}{% url 'pes_kgm_cg_ratetbl_edit' id %}{% else %}{% url 'pes_kgm_cg_ratetbl_add' %}{% endif %}" method="post">  
    {% csrf_token %}
    {% if display_error %}
      <div class="alert alert-error fade in">
        {{ form.errors }}
        {{ form.non_field_errors }}
        {{ error }}
      </div>
    {% endif %}
    <table class="table2 table2-form">
      <tbody>
          <tr>
          	<td class="span2">Rate From</td>
            <td>{{form.from_rate}}</td>
          </tr>
          <tr>
          	<td class="span2">Rate To</td>
            <td>{{form.to_rate}}</td>
          </tr>
      <tr>
          <td colspan="8">
            <div class="btn-controls-footer">
              <div class="btn-controls">
                <button type="submit" class="btn btn-small"  name="save" value="save">Save </button>
                <a href="{% url 'pes_kgm_cg_ratetbl' %}"><button class="btn btn-small" type="button"> Cancel </button></a>
              </div>
            </div>
          </td>
        </tr>
    </table>
  </form>
{% endblock content %}
